@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Questrial');

body {
  font-family: Roboto;
}

.heading {
  margin: 20px 0;
  position: relative;
  text-align: center;
  width: 100%;
}

h1 {
  color: #333;
}

h3 {
  color: #888;
}

.page-body {
  background: #eee;
  left: 0;
  margin: 0 auto;
  padding: 10px 20px;
  right: 0;
  width: 80%;
}

.code {
  background: #fff;
  color: #733;
  font-family: 'Roboto Mono';
  padding: 5px;
  word-wrap: break-word;
}

.signature {
  color: #666;
  font-size: 16px;
  margin: 40px auto 30px;
  text-align: center;
  width: 300px;
}

.signature img {
  border: 2px solid #aaa;
  border-radius: 50%;
  margin: 10px auto;
  width: 100px;
}

.signature a,
.signature a:hover,
.signature a:active {
  color: #468;
  cursor: pointer;
  margin: 0 5px;
  text-decoration: none;
}
